/* Created on : Apr 26, 2018, 3:39:03 
   PM Author : Julio Bill Schvenger */
* {
    font-family: 'Roboto';
}
/* content */
#div-all {
    margin-top: 20px;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 42px;
}
#div-list-navegation {    
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto; 
}
input {
    display: block;
}

/* título */
#tit-busca-marvel, 
#tit-teste-front-end, 
#tit-candidato {
    opacity: 100%;
    color: #d42026;
    font-size: 27px;
    line-height: 32px;    
}
#tit-busca-marvel {
    font-weight: bold;
}
#tit-teste-front-end {
    font-weight: lighter;
}
#tit-candidato {
    font-weight: lighter;
    position: absolute;
    right: 50px;
    font-size: 16px;
}
#linha-titulo {
    background-color: #d42026;
    height: 4px;
    width: 54px;
}
#div-nome-personagem {
    color: #d42026;
    font-size: 16px;
    margin-top: 34px;
    margin-bottom: 34px;
    opacity: 100%;
}
#text-personagem {
    width: 440px;
    height: 31px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
}

/* tabela */
#table-list-personagens {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#table-list-personagens th, td {
    text-align: left;
    cursor: pointer;
}
#table-list-personagens td {
    font-size: 21px;
    padding: 13px;
    height: 50px;
    border-bottom: 3px solid #f6d2d4;
}
#table-list-personagens tbody tr:hover {
    background-color: rgba(251, 232, 233, 0.9);
}
#th-personagem, #th-series {
    background-color: #d42026;
    border-right: 10px solid #FFFFFF;
    color: #FFFFFF;
    width: 270px;
    height: 37px;
    padding-left: 15px;
}
#th-series {
    width: 545px;
}
#th-eventos {
    background-color: #d42026;
    border-left: 10px solid #d42026;
    color: #FFFFFF;
    height: 47px;
    padding-left: 15px;
}
img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

/* botões */
#div-navegation {
    position: static;
    text-align: center;
    user-select: none;
    margin-bottom: 45px;
}

/* formato dos botões */
.pagination-circle {
    position: static;
    height: 32px;
    width: 32px;     
    bottom: 60px;
    border-radius: 50%;
    margin-left: 25px;
    border: 1px solid #d42026;
    display: inline-block;
    cursor: pointer;
}
/* circulo */
.pagination-circle a {
    font-size: 21px;
    text-decoration: none;
    color: #d42026;
    display: inline-block;
    margin-top: 13%;
    cursor: pointer;
}
.pagination-circle:hover {background-color: #d42026;}
.pagination-circle:hover a {color: #ffffff;}
.pagination-circle-active {background-color: #d42026;}
.pagination-circle-active a {color: #ffffff;}

/* triângulo */
.pagination-arrow-left, .pagination-arrow-right {
    background-color: #d42026;
    display: inline-block;
    position: relative;
    cursor: pointer;                
    border-top: 8px solid #FFFFFF;
    border-bottom: 8px solid #FFFFFF;
}    
.pagination-arrow-left {    
    right: 15px;
    border-left: 12px solid #FFFFFF;
    border-right: 12px solid #d42026;           
}
.pagination-arrow-right {
    left: 40px;
    border-left: 12px solid #d42026;       
    border-right: 12px solid #FFFFFF;    
}
.pagination-arrow-left:hover, 
.pagination-arrow-right:hover {
    opacity: 0.3;
}

/* rodapé */
#div-footer {
    position: fixed;
    background-color: #d42026;
    width: 100%;
    height: 12px;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

/* Dialog */
#myDialog {
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);    
    border-width: 0px;
}
#myDialog #div-dialog {
    position: absolute;
    background-color: #FFFFFF;
    left: 10%;
    right: 10%;
    width: 77%;
    height: 76%;
    margin-top: 0%;
    border-radius: 10px;
    overflow: auto;
}
#myDialog #div-dialog header {
    position: relative;
    background-color: #d42026;
    padding: 2px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 16px;
    left: 11%;
    height: 33px;
    width: 45%;    
}
#myDialog #div-dialog span {
    background-color: #d42026;
    position: fixed;
    left: 79%;
    height: 55px;
    width: 55px;
    font-size: 42px;
    text-align: center;
    margin-top: 0px;
}
#myDialog #div-dialog span:hover {
    color: maroon;
    cursor: pointer;
}
#myDialog #div-dialog h2 {
    text-align: center;
    margin-top: 0%;
}
#myDialog #div-dialog div {
    padding: 30px;
}



/* layout responsive */
@media only screen and (max-width : 410px) {
    /* títulos */
    #tit-busca-marvel, 
    #tit-teste-front-end,
    #tit-candidato, 
    #linha-titulo,
    #div-nome-personagem {
        font-size: 14px;
    }
    /* campo de pesquisa */
    #div-nome-personagem {
        margin-top: 12px;
    }
    #text-personagem {
        width: 100%;
        height: 25px;
    }
    /* conteúdo */
    #div-all {
        position: absolute;
        padding: 0;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 96%;
        height: 60%;
    }    
    #div-list-navegation {    
        position: relative;
        width: 100%;
        height: 100%;
    }    
    #list {
        margin-top: -23px;
        margin-left: 0px;
    }
    /* tabela */
    #th-series, #th-eventos {
        display: none;
    }
    #table-list-personagens td:nth-child(1n+2) {
        display: none;
    }   
    #table-list-personagens {
        position: relative;
        height: 5px;
    }
    #table-list-personagens td {
        font-size: 21px;
        padding: 13px;
        height: 60px;
        border-bottom: 1px solid #d42026;
    }
    #table-list-personagens tbody tr:hover {
        background-color: #FFFFFF;
    }    
    #th-personagem, #th-series {
        border-right: 1px;
    }
    
    /* navegação */
    #div-navegation {
        position: absolute;
        display: inline-table;
        left: 20%;
        bottom: 0%;
    }
    .pagination-arrow-left {
        position: relative;
        left: -28px;
    }
    .pagination-arrow-right {
        position: relative;
        left: 50px;
    }    
    
    /* tela de detalhes */
    #myDialog {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #myDialog #div-dialog span {
        background-color: #d42026;
        position: relative;
        left: 90%;
        font-size: 24px;
    }    
    #myDialog #div-dialog {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        left: -3%;
        top: 0%;
        border-radius: 5px;
        overflow: auto;
        font-size: 10px;
    }
    #myDialog #div-dialog header {
        background-color: #d42026;
        color: #ffffff;
        top: 0%;
        left: 0%;
        font-size: 10px;        
        position: fixed;
        padding: 3px;
        color: #ffffff;
    }    
    #myDialog #div-dialog span {
        position: fixed;
        background-color: #d42026;
        padding: 3px;
        color: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        left: 85%;
        height: 30px;
        width: 53px;    
        font-size: 24px;
        top: 0%;
    }        
}